/* s */
/* e */
/* f */
/* t */
/* y */

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik";
  color: #fff;
  background: rgb(11,10,14);
  background: linear-gradient(135deg, rgba(11,10,14,1) 0%, rgba(10,9,13,1) 56%, rgba(10,10,14,1) 100%);
  min-height: 205vh;
  overflow: hidden;
  overflow-x: hidden;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  gap: 0px;
}

.desc {
  font-size: 100%;
  position: absolute;
  bottom: 61%;
  text-align: center;
}

h1 {
  font-size: 325%;
  margin-bottom: 5px;
}

h2 {
  font-weight: lighter;
  font-size: 120%;
}

h3 {
  padding-bottom: 15px;
  text-align: center;
}

#location-logo {
  opacity: 0.5;
  padding-right: 5px;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colored-text {
  background: -webkit-linear-gradient(#9fa1cf, #6064f4);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

::-webkit-scrollbar {
  width: 0px;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  background-color: rgba(11, 10, 14, 0.7);
  backdrop-filter: blur(5px);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-left: 0px;
  border-top: 0px;
  border-width: 1px;
  z-index: 1;
}

header {
  height: 100%;
}

#dcheader,
#sourceheader {
  position: fixed;
  padding-top: 0.9%;
  left: 70%;
  font-size: 90%;
  opacity: 0.75;
}

#sourceheader {
  left: 76%;
}

#logo {
  position: fixed;
  padding-top: 0.3%;
  left: 16%;
  width: 40px;
}

.grid {
  color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.member {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  width: 500px;
  gap: 15px;
  font-size: 25px;
  background: -webkit-linear-gradient(rgb(21, 19, 27), rgb(20, 18, 26));
  background-clip: border-box;
}

#sefty {
  position: relative;
  border-radius: 75px;
  width: 100px;
  border: 3.5px solid white;
}

.display-name {
  font-weight: bolder;
  position: absolute;
  top: 29%;
  font-size: 105%;
  left: 25%; 
}

.username {
  opacity: 0.5;
  font-size: 65%;
  font-weight: lighter;
  position: absolute;
  top: 53%;
  left: 25%; 
}

.add-on-discord {
  padding: 15px 30px;
  border-style: none;
  border-radius: 20px;
  font-size: 100%;
  background-color: #302d35;
  color: white;
  font-weight: bolder;
  font-family: "Inter";
  font-size: 55%;
  position: absolute;
  top: 30%;
  left: 64%;
  cursor: pointer;
  text-align: center;
}

.open-website {
  padding: 15px 30px;
  border-style: none;
  border-radius: 20px;
  font-size: 100%;
  background-color: #4c774a;
  color: white;
  font-weight: bolder;
  font-family: "Inter";
  font-size: 55%;
  position: absolute;
  top: 54%;
  left: 64%;
  cursor: pointer;
  text-align: center;
  width: 33.2%;
}

.status {
  width: 18px;
  height: 18px;
  border-radius: 30px;
  position: absolute;
  top: 69.5%;
  left: 18%;
}

.activity {
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  width: 500px;
  gap: 15px;
  font-size: 25px;
  background: -webkit-linear-gradient(rgb(21, 19, 27), rgb(20, 18, 26));
  background-clip: border-box;
}

.activity img {
  position: relative;
  border-radius: 30px;
  width: 100px;
}

.title {
  font-weight: bolder;
  position: absolute;
  top: 20%;
  font-size: 90%;
  left: 25%; 
}

.details {
  font-weight: lighter;
  position: absolute;
  top: 43.465%;
  font-size: 65%;
  left: 25%; 
}

.state {
  opacity: 0.5;
  font-size: 55%;
  font-weight: lighter;
  position: absolute;
  top: 63%;
  left: 25%; 
}

a {
  color: white;
  text-decoration: none;
}

footer {
  font-weight: bold;
  background-color: #060606;
  height: 100px;
  text-align: center;
  padding-bottom: 35px;
}